* { 
   
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    
}   

body{
    max-width: 1400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}


.icon{
    width: 22px;
    height: 22px;
}
 
.infoBar{
    width: auto;
    margin-bottom: 39px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.elipse-infoBar { 
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-info{
    margin-left: 15px;
}

@media screen and (min-width: 992px)  {

.mainContainer{
      margin-left: 50px;
      margin-right: 50px;
  

}
.logo {
    width: 61.09px;
    height: 19px;
    
}
.flexstart {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    
}

.flexend{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
}
.border{
    width: auto;
    height: 55px;
    border: 2px solid white;
    border-bottom: none;
    border-right: none;
    border-left: none;
    display: flex;
    align-items:flex-end ;
}

.border:hover{
    border-top: 2px solid #0065FC;
    cursor:pointer;
}
.colorBlue:hover{
    color:#0065FC;
    cursor: pointer;
}
.flexbetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.h4P{
    line-height: 8px;
    margin-top: 55px;
}
.taille {
    width: 20%;
}

.buttonMenu{
    width: 381px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

}
@media screen and (min-width: 768px) and ( max-width: 991px) {
    
    
    .mainContainer{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    
    .logo {
        width: 61.09px;
        height: 19px;
        
    }
    .flexstart {
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        
    }
    
    .flexend{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around
    }
    .border{
        width: auto;
        height: 55px;
        border: 2px solid white;
        border-bottom: none;
        border-right: none;
        border-left: none;
        display: flex;
        align-items:flex-end ;
    }
    
    .border:hover{
        border-top: 2px solid #0065FC;
        cursor:pointer;
    }
    .colorBlue:hover{
        color:#0065FC;
        cursor: pointer;
    }
    .flexbetween{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .taille {
        width: 25%;
    }
    .icon {
        width: 22px;
        height: 22px;
        text-align: center;
    }

}


@media screen and (max-width: 767px) {
*{
    max-width: 767px;
}
header{
    width: auto;
    margin-top: 21px;
    
}

   body { 
    margin-left: 0px;
    margin-left: auto;
    margin-right: auto;

   }
   .marginHeaderSizeSmall {
    margin-left: 20px;
    margin-right: 20px;
   }
    
    .flexstart {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .flexend{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around;
    }
    .border{
        width: 100%;
        height: 40px;
        border: 3px solid #F2F2F2;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    
    .border:hover{
        border-bottom: 2px solid #0065FC;
        cursor:pointer;
    }
    .colorBlue:hover{
        color:#0065FC;
        cursor: pointer;
    }
    .flexbetween{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .logo{
        width: 62px;
        height: 19px;
        
    }
    .h4P{
        margin-left: 20px;
        margin-right: 20px;
    }
    .h4P h4{
        font-size: 22px;
        margin-bottom: 0px;
    }

    .infoBar{
        
       display: flex;
       flex-direction: row;
       align-items: baseline;
       
    }
   
   
}