@media  screen and (min-width: 768px) {
#searchbar{
    width: 236px;
    height: 43px;
    border: 2px solid #F2F2F2;
}
::placeholder{
    color: black;
    font-weight: 700;
    padding-left: 10px;
   
}

#searchButton {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border-style: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: 700;
    
}
#searchButtonLogo{ 
    display: none;
}
.search {
    display: flex;
    flex-direction: row;
}
.test{
    width: 49px;
    background-color: #F2F2F2;
    border-style: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.test i{
    width: 14px;
    height: 18px;
    color: black;
}
}


@media screen and (max-width: 767px) {
    #searchbar{
        width: 70%;
        height: 43px;
        border: 2px solid #F2F2F2;
        font-weight: 700;
    }
    ::placeholder{
        color: black;
        font-weight: 700;
        padding-left: 10px;
       
    }
    #searchButton {
        display: none;
        
    }
    #searchButtonLogo{  
        width: 15%;
        background-color: #0065FC;
        border-style: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #searchButtonLogo i{
        color: white;
        
    }
    .search {
        margin-top: 36px;
        margin-bottom: 34px;
        display: flex;
        flex-direction: row;
    }
    
    .test{
        width: 15%;
        background-color: #F2F2F2;
        border-style: none;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}